* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*before, *after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
    font-family: Gotham SSm A,Gotham SSm B,HelveticaNeue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #333447;
    background-color: #fff;
}

#log-in{
	width: 100%;
	height: 600px;
	background-image: url(../assets/images/hero.gif);
	background-size: cover;

}
a{
	text-decoration: none;
	margin: 12px;
	color: #fff;
}
#barra{
	position: absolute;
	width: 100%;
	height: 100px;
	padding-bottom: 20px;


}
#intermedio {
	height: 100px;
	width: 100%;
	background: linear-gradient(transparent,#76278f);
	margin-top: -120px;

}

#video .text{
	width: 25%;
	height: auto;
	display: inline-block;
	padding: 2% 4% 0;
	vertical-align: top;

}
#uno {
	height: 400px;
	width: 100%;
	background: linear-gradient(#76278f,#2b1e66);
}
#uno p{
	color: #fff;
	margin-left: 80px;
}
.logo img{
	width: 70px;
	height: auto;
	margin-left: 50px;
	margin-top: 20px;
}

nav{
	float: right;
	margin: 30px;
	margin-top: 5px;
	margin-right: 70px;
}

.caja{
	width:400px;
	height:250px;
    background:#fff; 
    float: right;
    margin-top: 130px;
    margin-right:20;
}

h1{
	font-size: 30px;
	color: #352384;
	text-align:left;
	margin-left: 20px;

}
h2{
	font-size: 20px;
	color: #fff;
	text-align:left;
	margin-left: 80px;
	font-family: "Helvetica Neue", Helvetica, Arial, sant_serif;
	font-style: normal;
}
h4{
	font-size: 15px;
	color: #fff;
	text-align:left;
	margin-left: 20px;
}


.text-uppercase {
	text-transform: uppercase;
}

footer {
	margin: 0;
	height: 650px;
	background-color: #333447;
	color: #FFF;
	text-align: center;
}
ul {
	margin-top: 60px;
	margin-left: 75px;
	list-style: none;
	line-height: 50px;
	float: left;

}

li img{
	width: 150px;
	height:auto;
}
footer h5 {
	clear: left;
	font-weight: 200;
}
footer h5 a {
	text-decoration: none;
	color: #fff;
}
